HomeAssistant/node-red/flows.json
[{"id":"f4bd979c.8c5028","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"db71ae1a.4969e","type":"server","z":"","name":"Home Assistant"},{"id":"ac8a2136.21396","type":"alexa-home-conf","z":"","username":"Syralist"},{"id":"49281b1c.36f454","type":"mqtt-broker","z":"","name":"HA Mosquitto","broker":"192.168.2.130","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"15c5713a.708e8f","type":"alexa-home","z":"f4bd979c.8c5028","conf":"ac8a2136.21396","device":"48392","acknoledge":true,"name":"LixieClock","topic":"","x":110,"y":200,"wires":[["f49ca5c2.71ba38"]]},{"id":"f49ca5c2.71ba38","type":"switch","z":"f4bd979c.8c5028","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":200,"wires":[["11e5ce7d.ddc052"],["7b4e6047.d2389"],["f56dc808.56a428"]]},{"id":"7b4e6047.d2389","type":"api-call-service","z":"f4bd979c.8c5028","name":"LixieOff","server":"db71ae1a.4969e","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lixieclock\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":700,"y":220,"wires":[[]]},{"id":"34bcb00e.be8a6","type":"template","z":"f4bd979c.8c5028","name":"Brightness","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n'brightness': {{payload}},\n'state': 'ON'\n}","output":"str","x":570,"y":320,"wires":[["7db887c3.d58c88","4a90b961.f26e48"]]},{"id":"4a90b961.f26e48","type":"debug","z":"f4bd979c.8c5028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":440,"wires":[]},{"id":"f56dc808.56a428","type":"range","z":"f4bd979c.8c5028","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"property":"payload","name":"","x":420,"y":320,"wires":[["34bcb00e.be8a6"]]},{"id":"7db887c3.d58c88","type":"mqtt out","z":"f4bd979c.8c5028","name":"LixieBrightness","topic":"home/wohnzimmer/lixie/cmd","qos":"0","retain":"false","broker":"49281b1c.36f454","x":800,"y":320,"wires":[]},{"id":"2efe75d0.a627aa","type":"mqtt out","z":"f4bd979c.8c5028","name":"LixieOn","topic":"home/wohnzimmer/lixie/cmd","qos":"0","retain":"false","broker":"49281b1c.36f454","x":720,"y":140,"wires":[]},{"id":"11e5ce7d.ddc052","type":"template","z":"f4bd979c.8c5028","name":"TurnOn","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"color\": {\"r\": 255, \"g\": 191, \"b\": 0},\n'state': 'ON'\n}","output":"str","x":540,"y":140,"wires":[["2efe75d0.a627aa"]]}]